.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
*.profraw
.generated

# perf-related files
perf_test.sh
perf.data
perf.data.old
out.svg
out.perf
out.folded
